.task {
  padding: 8px;
  margin: 8px;
  width: 153px;
  overflow-wrap: break-word;
  border: 1px solid black;
}
.card {
  padding: 8px;
  margin: 8px 0px;
  overflow-wrap: break-word;
  border: 1px solid black;
}
.title {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
}
.btnDanger {
  display: inline-flex;
  background-color: red;
  border-radius: 50%;
  color: white;
}
.row {
  display: flex;
  justify-content: space-between;
}
